.container{
    h2{
        text-align: center;
    }

    .row{
        .img-wrapper{
            width:100%;
            object-fit:cover;
            height:300px;
            padding-bottom:12px;
            border-radius: 5px;
        }
        .column{
            position:relative;
            .text-wrapper{
                position:absolute;
                bottom:15px;
                left:25px;
         
             
               h5{
                font-size: 20px;
                margin-top: 2px;
                color:white;
               }
            }
        }
    }
  
}